<article id="Login" am-layout="vertical-center" am-padding="large">
	<form name="login_form" ng-submit="login.submit(login.credentials);">
		<fieldset am-layout="stacked">
			<legend><h1>Login</h1></legend>
			<div role="group">
				<label for="Username">Username</label>
				<input id="Username" type="text" name="Username" ng-model="login.credentials.Username" ng-required="true"/>

				<label for="Password">Password</label>
				<input id="Password" type="password" name="Password" ng-model="login.credentials.Password" ng-required="true"/>

				<button class="am-btn" type="submit" ng-disabled="login_form.$invalid">Submit</button>
			</div>
		</fieldset>
	</form>
</article>