<!--<article id="Login" am-layout="vertical-center" am-padding="large">-->
	<!--<form name="login_form" ng-submit="login.submit(login.credentials);">-->
		<!--<fieldset am-layout="stacked">-->
			<!--<legend><h4>Login</h4></legend>-->
			<!--<div role="group">-->
				<!--<label for="Username">Username</label>-->
				<!--<input id="Username" type="text" name="Username" ng-model="login.credentials.Username" ng-required="true"/>-->

				<!--<label for="Password">Password</label>-->
				<!--<input id="Password" type="password" name="Password" ng-model="login.credentials.Password" ng-required="true"/>-->

				<!--<button class="am-btn" type="submit" ng-disabled="login_form.$invalid">Submit</button>-->
			<!--</div>-->
		<!--</fieldset>-->
	<!--</form>-->

<md-content flex layout-padding class="loginForm">
<div class="wrapper">
	<div class="form-wrapper">
		<form name="login_form" ng-submit="login.submit(login.credentials);">
			<div class="row">
				<md-input-container><label for="Username">Username</label><input id="Username" type="text" name="Username" ng-model="login.credentials.Username" ng-required="true"/></md-input-container>
				<md-input-container><label for="Password" >Password</label><input id="Password" autocomplete="off" type="password" name="Password" ng-model="login.credentials.Password" ng-required="true"/></md-input-container>
			</div>
			<md-button flex class="md-button md-raised md-default-theme" type="submit" ng-disabled="login_form.$invalid">Submit</md-button>
		</form>
	</div>
</div>

	<!--<div layout="row" layout-margin layout-fill layout-padding flex>-->
		<!--<div flex>HAIL SATAN</div>-->
		<!--<div flex>I'm on the
		right, and there's an empty area around me.</div>-->
	<!--</div>-->
	<!--<div layout="row" layout-sm="column">-->
		<!--<div flex>-->
			<!--I'm above on mobile, and to the left on larger devices.-->
		<!--</div>-->
		<!--<div flex>-->
			<!--I'm below on mobile, and to the right on larger devices.-->
		<!--</div>-->
	<!--</div>-->
</md-content>