<article id="Console">
    <section id="ConsoleExplorer" am-padding="large">
        <form am-layout="vertical" novalidate name="consoleForm" ng-submit="console.callMethod()">
            <fieldset am-layout="stacked">
                <div role="group">
                    <div am-block="gutter">
                        <div am-block="6">
                            <label>Choose a Service:</label>
                            <select ng-model="console.selectedService"
                                    ng-options="api.name for api in ::console.services">
                                <option value="">-- Choose Service --</option>
                            </select>
                        </div>
                        <div am-block="6">
                            <label>Choose a Method:</label>
                            <select ng-model="console.selectedMethod"
                                    ng-options="method as method.name for method in console.selectedService.methods">
                                <option value="">-- Choose Method --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset am-layout="stacked" ng-show="console.selectedMethod.callerStatement" am-margin="top large">
                <div class="caller-setup" role="group" style="width:100%;">
                    <div>
                        <div ng-show="(console.selectedMethod.params.length > 0)">
                            <legend class="am-text-c">Method Parameters</legend>
                            <parameter-inputs></parameter-inputs>
                        </div>
                        <div ng-hide="(console.selectedMethod.params.length > 0)">
                            <h5>No Parameters Required</h5>
                        </div>
                    </div>
                    <div class="caller am-shadow-z1">
                        <pre>{{console.display(console.selectedMethod, 'callerStatement')}}</pre>
                        <button class="am-btn am-primary"
                                type="submit">Execute my script <i class="fa fa-play-circle-o"></i></button>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
    <section id="ConsoleResults">
        <div ng-show="console.selectedMethod.results">
            <h6>RESPONSE <i class="fa fa-code"></i></h6>
            <pre>{{console.display(console.selectedMethod, 'results') | json }}</pre>
        </div>
    </section>
</article>
