<article>
    <section>
        <form am-layout="vertical" am-padding="large" novalidate name="testerForm" ng-submit="apiConsoleController.callMethod()">
            <fieldset am-layout="stacked">
                <div am-block="gutter" role="group">
                    <div am-block="6">
                        <label>Choose a Service:</label>
                        <select ng-model="apiConsoleController.selectedService"
                                ng-options="api.name for api in ::apiConsoleController.services">
                            <option value="">-- Choose Service --</option>
                        </select>
                    </div>
                    <div am-block="6">
                        <label>Choose Operation:</label>
                        <select ng-model="apiConsoleController.selectedMethod"
                                ng-options="method as method.name for method in apiConsoleController.selectedService.methods">
                            <option value="">-- Choose Operation --</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset am-layout="stacked" am-margin="top">
                <div role="group">
                    <section ng-show="(apiConsoleController.selectedMethod.params.length > 0)">
                        <label>Parameters:</label>
                        <pre>{{apiConsoleController.display(apiConsoleController.selectedMethod, 'params') | json}}</pre>

                        <label>Please provide inputs where necessary:</label>
                        <parameter-inputs></parameter-inputs>
                    </section>
                </div>
            </fieldset>
            <fieldset am-layout am-margin="top">
                <div role="group">
                    <section ng-show="apiConsoleController.selectedMethod.callerStatement">
                        <button class="am-btn"
                                type="submit">Execute My Script</button>
                        <hr>
                        <h5>{{apiConsoleController.display(apiConsoleController.selectedMethod, 'callerStatement')}}</h5>
                    </section>
                </div>
            </fieldset>
            <fieldset am-layout="stacked" am-margin="top">
                <div role="group">
                    <section ng-show="apiConsoleController.selectedService.name && apiConsoleController.documentUrl != '#'">
                        <label>{{apiConsoleController.selectedService.name}} Documentation</label>
                        <iframe ng-src="{{apiConsoleController.documentUrl}}"
                                height="300px"
                                width="100%">
                        </iframe>
                    </section>
                </div>
            </fieldset>
        </form>
    </section>
    <section>
        <section ng-show="apiConsoleController.selectedMethod.results">
            <pre>{{apiConsoleController.display(apiConsoleController.selectedMethod, 'results') | json }}</pre>
        </section>
    </section>
</article>
