#Console {
  @media(orientation:portrait) {
	display:block;
  }
}

#ConsoleExplorer,
#ConsoleResults {
  overflow-y:auto;
}

#ConsoleResults {
  background-color:#f1f1f1;
  pre {
	margin:0;
	border-radius: 0;
  }
  h6 {
	background-color:@am-clr-primary-bg;
	color:#fff;
	text-align:center;
	padding:@am-root-padding/2;
	margin:0;
  }
}

.caller {
  border-radius:4px;
  overflow:hidden;
  display:flex;
  flex-flow:column nowrap;
  pre {
	flex:1 0 auto;
	background-color:#fff;
	color:@am-clr-body-text;
  }
  button {
	flex:0 1 auto;
  }
  pre,
  button {
	width:100%;
	margin:0;
	border-radius:0;
  }
}

.caller-setup {
  display:flex;
  flex-flow:row nowrap;
  & > div {
	flex:1;
	@media(orientation:landscape) {
	  &:not(.caller) {
		padding-right: @am-root-padding;
	  }
	}
  }
  @media(orientation:portrait) {
	flex-flow:column nowrap;
	.caller {
	  margin-top:@am-root-margin;
	}
  }
}

form[name="ApiConsole"] {
  & > header {
	align-items: stretch !important;
	fieldset[@{am-layout-var}] {
	  &[@{am-layout-var}="stacked"] {
		max-width: 250px;
	  }
	  &[@{am-layout-var}="fill"] {
		position: relative;
		div {
		  &[role="group"] {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		  }
		  height: 100%;
		}
	  }
	}
  }
  #Documentation {
	table {
	  min-width: 100%;
	  border: 1px solid #d4d4d4;
	  & th {
		text-align: left;
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
	  }
	  & td {
		border-bottom: 1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
	  }
	}
  }
}

[@{am-block-var}="execute-console"] {
  & > [@{am-block-var}] {
	float:none !important;
	position:relative;
  }
  pre,button {
	margin:0;
	border-radius:0;
	position:absolute;
	width:100%;
	height:100%;
  }
  pre {
	overflow-y: auto;
  }
}
